
{% extends 'hotelMiranda/base.html' %}

{% load static %}

{% block content %}

<main class="update-order-content">

    <form method="post" class="update-order-content__form">
        {% csrf_token %}
        {% for field in form %}
            <div class="update-order-content__form__input-group">
                <label for="{{field.name}}" class="update-order-content__form__input-group__label">{{field.label}}</label>
                {{ field }}
            </div>
        {% endfor %}
        <input type="submit" class="update-order-content__form__button button button--bigger" value="Update">
    </form>
</main>


{% endblock %}